@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Geist';
    src: url('/src/fonts/Geist.woff2') format('woff2');
  }
}

@layer utilities {
  .clip-movie-image {
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
  }
  .text-balance {
    text-wrap: balance;
  }
}

.zoom-background [data-rmiz-modal-overlay='visible'] {
  background-color: transparent;
  backdrop-filter: blur(10px);
}

div [data-rmiz-modal-content] > img {
  border-radius: 12px;
}
